
<!DOCTYPE html>
<html>
 
<head>
    <title>Game Detail</title>
	<style> 
		button {
			background-color: #4CAF50; /* Green */
			border: none;
			color: white;
			padding: 10px 24px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 12px;
			position : absolute;
			top : 2.5%;
			right : 2.5%;
		  }
		  </style>
    <link rel="icon" type="image/x-icon" href="nba.ico">
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</head>
 
<body>
    <table>
		<tr>
		  <th>comment</th>
		  <th>minute</th>
		  <th>nickName</th>
		  <th>city</th>
		  <th>startingPosition</th>
		  <th>gameID</th>
		</tr>
		<tr>

		  <td>{{ GameDetail.comment }}</td>
		  <td>{{ GameDetail.minute }}</td>
		  <td>{{ GameDetail.nickName }}</td>
		  <td>{{ GameDetail.city }}</td>
		  <td>{{ GameDetail.startingPosition }}</td>
		  <td>{{ GameDetail.gameID }}</td>

		</tr>

        </a>

	</table>
	<button onclick="goBack()">Go Back</button>
</body>
 
</html>