
<!DOCTYPE html>
<html>
 
<head>
    <title>FlaskTest</title>
</head>
 
<body>

    <table>
		<tr>
		  <th>gameDate</th>
		  <th>gameStatus</th>
		  <th>homeTeamPoints</th>
		  <th>percentageFG</th>
		  <th>percentageFT</th>
		  <th>homeTeamID</th>
		  <th>visitorTeamID</th>
          <th>id</th>
          <th>details</th>

		</tr>
		<tr>
		  <td>{{ Game.gameDate }}</td>
		  <td>{{ Game.gameStatus }}</td>
		  <td>{{ Game.homeTeamPoints }}</td>
		  <td>{{ Game.percentageFG }}</td>
		  <td>{{ Game.percentageFT }}</td>
		  <td>{{ Game.homeTeamID }}</td>
		  <td>{{ Game.visitorTeamID }}</td>
          <td>{{ Game.id }}</td>
		  <td><a href="http://127.0.0.1:5000/api/gamedetail/get/{{Game.id}}">details</a></td>

          

		</tr>
	</table>

    <!-- data -->
    
</body>
 
</html>