
<!DOCTYPE html>
<html>
 
<head>
    <title>Game</title>
	<style> 
		button {
			background-color: #4CAF50; /* Green */
			border: none;
			color: white;
			padding: 10px 24px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 12px;
			position : absolute;
			top : 2.5%;
			right : 2.5%;
		  }
		  </style>
    <link rel="icon" type="image/x-icon" href="nba.ico">
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</head>
 
<body>

    <table>
		<tr>
		  <th>gameDate</th>
		  <th>gameStatus</th>
		  <th>homeTeamPoints</th>
		  <th>percentageFG</th>
		  <th>percentageFT</th>
		  <th>homeTeamID</th>
		  <th>visitorTeamID</th>
          <th>id</th>
          <th>details</th>

		</tr>
		<tr>
		  <td>{{ Game.gameDate }}</td>
		  <td>{{ Game.gameStatus }}</td>
		  <td>{{ Game.homeTeamPoints }}</td>
		  <td>{{ Game.percentageFG }}</td>
		  <td>{{ Game.percentageFT }}</td>
		  <td>{{ Game.homeTeamID }}</td>
		  <td>{{ Game.visitorTeamID }}</td>
          <td>{{ Game.id }}</td>
		  <td><a href="http://127.0.0.1:5000/api/gamedetail/get/{{Game.id}}">details</a></td>

          

		</tr>
	</table>

    <!-- data -->
	<button onclick="goBack()">Go Back</button>
</body>
 
</html>