
<!DOCTYPE html>
<html>
 
<head>
    <title>Player</title>
	<link rel="stylesheet" href="tables.css">
    <link rel="icon" type="image/x-icon" href="nba.ico">
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</head>
 
<body>
    <table>
		<tr>
		  <th>playerName</th>
		  <th>position</th>
		  <th>age</th>
		  <th>leauge</th>
		  <th>experince</th>
		  <th>teamID</th>
		  <th>seasonID</th>
          <th>id</th>
		</tr>
		<tr>
		  <td>{{ Player.playerName }}</td>
		  <td>{{ Player.age }}</td>
		  <td>{{ Player.leauge }}</td>
		  <td>{{ Player.experince }}</td>
		  <td>{{ Player.teamID }}</td>
		  <td>{{ Player.seasonID }}</td>
          <td>{{ Player.id }}</td>
        

		</tr>
	
	  </table>
    <!-- data -->
	<button onclick="goBack()">Go Back</button>
</body>
 
</html>