
<!DOCTYPE html>
<html>
 
<head>
    <title>FlaskTest</title>
</head>
 
<body>
   
  <table>
		  <tr>
		    <th>teamName</th>
		    <th>playOff</th>
		    <th>numOfGames</th>
		    <th>matchPoints</th>
		    <th>fieldGoals</th>
		    <th>percentageFG</th>
		    <th>seasonID</th>
      <th>id</th>
		  </tr>
		  <tr>
		    <td>{{ team.teamName }}</td>
		    <td>{{ team.playOff }}</td>
		    <td>{{ team.numOfGames }}</td>
		    <td>{{ team.matchPoints }}</td>
		    <td>{{ team.fieldGoals }}</td>
		    <td>{{ team.percentageFG }}</td>
		    <td>{{ team.seasonID }}</td>
      <td>{{ team.id }}</td>
		  </tr>
	 </table>
 
    <!-- data -->
   
</body>
 
</html>
