<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>NBA Database</title>
  <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"> -->
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='nba.ico') }}">	
</head>
<body>
<!-- partial:index.partial.html -->
<div > 
	<p class="welcome">Update Player</p>
</div>
	<div id="login-form-wrap">
		
	<h2>Update</h2>
	<form id="login-form" action="/api/player/update/{{Player.id}}" method="post">
		<p>
		<input type="text" id="playerName" name="playerName" placeholder={{ Player.playerName }} required><i class="validation"><span></span><span></span></i>
		</p>
		<p>
		<input type="text" id="position" name="position" placeholder="position" required><i class="validation"><span></span><span></span></i>
		</p>
		<p>
        <input type="text" id="age" name="age" placeholder="age" required><i class="validation"><span></span><span></span></i>

		</p>
        <p>
        <input type="text" id="league" name="league" placeholder="league" required><i class="validation"><span></span><span></span></i>
        </p>
		<p>
			<input type="text" id="experience" name="experience" placeholder="experience" required><i class="validation"><span></span><span></span></i>
			</p>
        <p>
        <input type="text" id="teamID" name="teamID" placeholder="teamID" required><i class="validation"><span></span><span></span></i>
        </p>
        <p>
        <input type="text" id="abbreviation" name="abbreviation" placeholder="abbreviation" required><i class="validation"><span></span><span></span></i>
        </p>
        <p>
        <input type="text" id="seasonID" name="seasonID" placeholder="seasonID" required><i class="validation"><span></span><span></span></i>
        </p>
		<input type="submit" value="Submit">
	</form>
	
	</div><!--login-form-wrap-->
	<!-- partial -->
	
	</body>
	</html>
