<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>NBA Database</title>
  <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"> -->

</head>
<body>
<!-- partial:index.partial.html -->
<div > 
	<p class="welcome">Update Player</p>
</div>
	<div id="login-form-wrap">
		
	<h2>Update</h2>
	<form id="login-form" action="{{ url_for('player_api.update') }}" method="post">
		<p>
		<input type="text" id="playerName" name="playerName" placeholder={{ Player.playerName }} required><i class="validation"><span></span><span></span></i>
		</p>
		<p>
		<input type="text" id="position" name="position" placeholder="position" required><i class="validation"><span></span><span></span></i>
		</p>
		<p>
        <input type="text" id="age" name="age" placeholder="age" required><i class="validation"><span></span><span></span></i>

		</p>
        <p>
        <input type="text" id="leauge" name="email" placeholder="Email" required><i class="validation"><span></span><span></span></i>
        </p>
        <p>
        <input type="text" id="teamID" name="password" placeholder="Password" required><i class="validation"><span></span><span></span></i>
        </p>
        <p>
            <input type="text" id="abbreviation" name="abbreviation" placeholder="abbreviation" required><i class="validation"><span></span><span></span></i>

        </p>
        <p>
            <input type="text" id="seasonID" name="seasonID" placeholder="seasonID" required><i class="validation"><span></span><span></span></i>

        </p>
	</form>
	
	</div><!--login-form-wrap-->
	<!-- partial -->
	
	</body>
	</html>
