<!-- Store this code in 'login.html' file inside the 'templates' folder -->

<html>
	<head>
		<meta charset="UTF-8">
		<title> NBA Database </title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
        <link rel="stylesheet" href = "mainpage.css">
        <link rel="icon" type="image/x-icon" href="nba.ico">		
	</head>
	<body></br></br>

		<div align="center"> 
		<div align="center" class="border">
			<div class="header">
				<h1 class="word">Welcome the NBA Database</h1>
                <h2 class="word">Profile Page</h2>
			</div></br></br>
			<h2 class="word">
				<form>
                    <div class = "add-button"><button class="button button1">Delete Player to Your Team</button></div>
					<div class="msg"> You can see your team. </div>
                    <div class="msg"> You can delete any player and update your team. </div>
                    

                    <br>
				</form>
			</h2>
		</div>
		</div>
	</body>
</html>
